*{
    padding: 0px;
    margin: 0px;
    color: white;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    background-color: black;
}
.main{
    width: 100%;
    height: 100vh;
    background-image: rgb(7, 8, 7);
    position: relative;
    padding: 0.5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    justify-content: space-around;
}
nav ul li{
    display: inline-block;
}
.logo {
    font-size: 35px;
    font-weight: 600;
    color:#fff;
}

nav ul li a{
    color: #fff;
    font-size: 17px;
}
nav a:hover{
    background-color: #fff;
    color: black;
}
.content{
    text-align: center;
}
.content h1{
    font-size: 160px;
    color: #fff;
}
.content a{
    color: #fff;
    font-size: 24px;
    border: 2px solid #fff;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 10px;
}
.content a:hover{
    background-color: #fff;
    color: black;
}
.dashboard{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.felxbox{
    border: 2pc solid black;
}
section{
    padding: 30px 18%
}
.heading{
    height: 150px ;
    color: #fff;
    align-content: center;
    text-align: center;
    border: 1px solid white;
    border-radius: 10px;
}
.flex-properties{
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
}
.flex-properties>div{
    border-radius: 10px;
    margin: 10px;
    width: 100px;
    height: 100px;
    border: 2px solid #fff;
    overflow: hidden;
    transition: ease-in-out 1s;
}
div img{
    width: 100px;
    height: 100px;
    object-fit: cover;
}
.felxbox:hover{
    order: 1;
    flex-grow: 1;
    flex-shrink: 3;
    flex-basis: 50%;
    align-self: center;

}